name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: check prettier formatting
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: "--check ."

  type-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Run type checking
        run: pnpm check-types

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install
        working-directory: ./apps/web

      - name: Run build
        run: pnpm build
        working-directory: ./apps/web
